html {
  background: linear-gradient(110deg, #7a44a3 50%, #4a166c 50%);
}
#garfimage {
  background-image: url("garfield.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea{
  background-color: #7a44a3;

}